<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/global.css">
</head>
<body>
    <header>
        <div class="levegg_heading">
            <a style="text-decoration: none;" href="/"><h1>Levegg</h1></a>
            <a style="text-decoration: none;" href="/"><h1>Videregående</h1></a>
        </div>
    </header>

    <main>
        <h1 style="margin-top: 1rem;">Velkommen</h1>
        <h2 style="margin-top: 1rem;">Dette er Levegg VGS sin kartlegging av mulige fremitidige elever</h2>
        <h2>Lag en bruker under, eller logg inn, for å komme i gang</h2>
        <div class="index_container">
            <div>
                <a href="/login" class="index_button">Logg inn</a>
            </div>
            <div>
                <a href="/lagbruker" class="index_button">Lag bruker</a>
            </div>
        </div>
    </main>
</body>
</html>